*.idea
website.iml
.bash_history
.m2/
.ivy2/
.sbt/
.ssh/
.emacs.d/
.gitconfig
.viminfo
*.log
*.tmp
*.old
*.bak
*.jar
*.swp

# JENKINS IGNORE FILES
jenkins

# DOCKER IN DOCKER IGNORE FILES
jenkins-docker-certs/*

# WEBSITE IGNORE FILES
# Ignore all sub dirs
var/www/html/paz.ienza.tech/*/
var/www/html/url.ienza.tech
var/www/html/blog.ienza.tech/*/
var/www/html/ienza.tech/bank
var/www/html/paz.ienza.tech/.htpasswd

# NGINX IGNORE FILES
nginx/*.log
nginx/servers/*

# CERBOT IGNORE FILES
certbot

# MONGO IGNORE FILES
mongodb-data/*
