version: '3.7'
services:
  docker:
    image: docker:dind
    container_name: docker
    privileged: true
    user: root
    ports:
      - 2376:2376
    volumes:
      - ./jenkins-docker-certs:/certs/client
      - ./jenkins:/var/jenkins_home
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    command: --storage-driver=overlay2
  jenkins:
    depends_on:
      - "docker"
    build:
      context: .
      target: jenkins
    privileged: true
    user: root
    restart: always
    ports:
      - 8081:8080
      - 50022:50000
    container_name: jenkins
    volumes:
      - ./jenkins:/var/jenkins_home
      - ./var/www/html:/var/www/html
      - ./jenkins-docker-certs:/certs/client:ro
      - ./var/blog:/var/blog
    environment:
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - JAVA_OPTS=-Dorg.jenkinsci.plugins.durabletask.BourneShellScript.LAUNCH_DIAGNOSTICS=true
  nginx:
    image: nginx
    privileged: true
    user: root
    restart: always
    ports:
     - 80:80
     - 443:443
    container_name: nginx
    volumes:
     - ./nginx/nginx.conf:/etc/nginx/nginx.conf
     - ./nginx/servers:/etc/nginx/servers
     - ./var/www/html:/var/www/html
     - ./certbot/www:/var/www/certbot/:ro
     - ./certbot/conf/:/etc/nginx/ssl/:ro
    environment:
     - NGINX_HOST=ienza.tech
     - NGINX_PORT=80
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
  mongo:
    image: mongo
    privileged: true
    user: root
    restart: always
    ports:
      - 27017:27017
    container_name: mongo
    environment:
      - MONGO_INITDB_DATABASE=ienza-tech
    volumes:
      - ./mongodb-data:/data/db
  blog-server:
    depends_on:
      - "jenkins"
    build:
      context: .
      target: blog-server
    privileged: true
    user: root
    restart: always
    ports:
      - 10443:10443
    container_name: blog-server
    volumes:
      - ./var/www/html/blog.ienza.tech/blog-images:/var/blog-images
    command: target/debug/blog-server /var/blog-images
